.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
}

/* Variables */

.tituloJuego {
    justify-content: left;
    align-items: left;
    padding: 0px;
}

.paymentSuccessful {
    background-image: var(--gradient-purple-blue); 

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}