.productsList {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(42rem, 1fr));
    justify-items: center;
    grid-row-gap: 32px;
    grid-column-gap: 32px;
    margin:0 0 5vh 5vw ;
}

@media(max-width:450px) {
    .productsList {
        margin:0 0 5vh -20px ;
    }
}
