.pageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
    min-height: 75vh;
    font-size: 1.6rem;
}

.line{
    width: 85vw;
    border: none;
    height: 4px;
    background: var(--gradient-purple-blue);
}

