.additionalImgs {
    font-size: 1.8rem;
}

.additionalImgs>* {
    margin-top: 20px;
}


.additionalImgs input {
    width: 60%;
    background-color: #1c1e3a;
    color: #e4e4e4;
    border: 1px solid var(--principal-blue, #6a00f4);
    padding: 10px;
    outline: none;
}

.imgList {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 50px;
    margin-top: 50px;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2px;
}

.img {
    max-width: 30vw;
}

.updateMsgSuccess {
    font-size: 1.8rem;
    color: var(--principal-green);
}

.updateMsgError {
    font-size: 1.8rem;
    color: var(--principal-red);
}

@media (max-width:795px) {
    .img {
        max-width: 75vw;
    }
}