*{
  color: white;

}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin:0 30px 60px 30px;
  justify-content: center;
  font-size: 1.3rem;
}

.filter {
  padding: 8px;
  border: none;
  border-radius: 24px;
  background-color: var(--header-footer-color);
  color: #fff;
  cursor: pointer;
  appearance: none; 
}
  
.filter select,
.filter input {
  color: #fff;
  background-color: var(--header-footer-color);
  border: none;
  outline: none;
  appearance: none;
}

.filter::placeholder {
  color: #fff;
}

.resetButton {
  color: #fff;
  cursor: pointer;
  background-color: var(--body-color);
  border: none;
  border-radius: 24px;
}
