.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    border: 4px solid;
    border-image: var(--gradient-purple-blue) 1;
    padding: 2rem;
}

.userIcon{
    max-width: 20vh;
    min-width: 96px;
}

.userInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.line{
    border: none;
    height: 4px;
    background: var(--gradient-purple-blue);
    align-self: center;
}

.buttons{
    display: flex;
    gap: 2rem;
} 