.tableInfo {
  width: fit-content;
  background-color: var(--header-footer-color);
  border-radius: 8px;
  border: 4px ridge var(--led-purple);
  text-align: left;
  color: rgb(230, 230, 230);
  font-size: 1.5rem;
}

.ths {
  font-size: 1.25em;
  padding: 6px;
  padding-left: 10px;
}

.tds {
  padding: 6px;
  padding-right: 24px;
  padding-left: 10px;
}



@media (max-width:45rem){
  .tableInfo {
    font-size: 1.6rem;
  }

  .ths {
    font-size: 1.4em;}
}

