.carrouselContainer {
    width: 100%;
    margin-top: 40px;
}

.carrousel {
    border-radius: 20px;
    box-shadow: 0 0px 35px var(--led-purple);
}

.bannerImg {
    margin-bottom: -6px;
    width: 100%;
}

@media (max-width: 720px) {
    .carrouselContainer{
      margin-top: 0;
    
    }  

    .carrousel{
        border-radius: 0%;
        box-shadow: none;
        height: 20rem;
    }
    .bannerImg{
        height: 20rem;

    }
}