.contenedor {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  
}

.buttons {
  margin-top: 10vh;
  display: flex;
  width: auto;
  justify-content: center;
  gap: 30px;
  font-size: 1.6rem;
}

.title {
  font-family: 'UniversCnBold', sans-serif;
  display: flex;
  align-items: center;
  color: white;
  gap: 10px; 
}

.palito {
  color: var(--principal-purple);
  font-size: 2.5em;
}

.juegos {
  justify-content: left;
}

.text {
  color: white;
}

@media (max-width: 780px) {
  .contenedor{
    gap: 10px;
  }
  .buttons{
    margin: 0%;
    padding: 2rem;
  }

  .title{
    font-size: 1.4rem;
  }
}