.timer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.timer__separator {
  border: none;
  width: 400px;
  height: 4px;
  background: var(--gradient-purple-blue);
}

@media (max-width: 780px){
  .timer{
    padding-top: 10px;
    gap: 10px;
  }
  .timer__separator{
    width: 100%;
  }
}