.gamesList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.gameCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  max-width: 400px;
  max-height: 250px;
  font-size: 1.6rem;
}

.gameCard__left {
  grid-row: 1 / 3;
}

.img {
  max-width: 200px;
  max-height: 233px;
  min-width: 200px;
  min-height: 233px;
}

.gameCard__right {
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameCard__right_top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gameCard__line {
  grid-row-start: -1;
  grid-column: 1/4;
  border: none;
  height: 4px;
  background: var(--gradient-purple-blue);
  align-self: center;
}

@media (max-width:1300px) {
  .gamesList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .gameCard {
    max-width: 300px;
  }
}

@media (max-width:400px) {
  .gameCard {
    max-width: 250px;
  }

  .img {
    max-width: 150px;
  }

  .gameCard__line {
    width: 90vw;
  }
}