.reviewbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: rgb(230, 230, 230);
}

.review-box__textarea {
    display: flex;
    min-width: 26vw;
    min-height: 20vh;
    background-color: var(--header-footer-color);
    border: none;
    font-size: 1.75em;
    resize: none;
}

.review-box__button {
    display: flex;
    align-items: center;
    width: 100%;
}

.review-box__existing-text {
    display: flex;
    font-size: 1em;
}

@media (max-width:800px) {
    .review-box__textarea {
        width: 100%;
    }
}